/************************imports**************/
@font-face {
    font-family: "BobbyJones Soft-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Bobby Jones Soft.otf") format("opentype");
}

@font-face {
    font-family: "SegoeUI-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Segoe UI.ttf") format("truetype");
}

/************************basic styling + nav**************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background: #ffffff;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

img {
    width: 100%;
}

.btn {
    background-color: #FC9701;
    padding: 10px 30px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    font-size: 12px;
}
.btn:hover{
    background-color: #9B5C0E;
    color: white;
}

.btn-padding {
    margin: 5px 0px 40px;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

/*nav styling starts*/
.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu-list {
    display: inline-block;

}

.main-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    text-decoration: none;
    align-items: center;

}

.main-navigation .hamburger {
    display: none;
}

.main-navigation .hamburger .bar {
    width: 30px;
    height: 2px;
    margin: 7px;
    background: #FC9701;
}

.main-navigation ul li a {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    transition: color 1s ease, border 1s ease;
    padding: 0px 10px;
    color: black;
    font-weight: 600;
}
#nav-list li a:hover{
    color: #FC9701!important;
}
.homelogo a img {
    height: auto;
    width: 100px;
    margin-left: 20px;
}

.main-navigation .menu-list img {
    width: 20px;
}

.subpages #nav-bk #nav-list li a {
    color: black !important;
}

/*nav styling ends*/
/*mobile first styling*/
/************************home page**************/
.header {
    background-image: url(../img/bk-mobile-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
    height: 600px;
    position: relative;
}

/**landing page btns**/
.landing-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    position: absolute;
    bottom: 5%;
    left: 20%;
    right: 20%;
}

.landing-buttons-container ul {
    list-style: none;
}

.landing-buttons-container ul li {
    background-color: #FC9701;
    margin-bottom: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    text-align: center;
}

.landing-buttons-container ul li a {
    text-decoration: none;
    color: white;
}
.landing-buttons-container ul li:hover{
    background-color: #9B5C0E;
    color: white;
}

/**featured**/
.featured-meals {
    padding: 50px 0px;
}

.featured-meals h2 {
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    font-size: 26pt;
    line-height: 1px;
}

.featured-meals h3 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    font-size: 14pt;
    font-weight: 300;
}

.featured-meals-carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 30px;
    gap: 2%;
}

.featured-meals-carousel-image {
    width: 45vh;
}

/*story*/
.ourstory-home h2 {
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    font-size: 26pt;
    line-height: 1px;
}

.ourstory-home h3 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    font-size: 14pt;
    font-weight: 300;
}

.ourstory-home {
    padding: 50px 20px;
    width: 100%;
    background-color: #FFF8EF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourstory-home p {
    padding: 30px 0px;
    line-height: 30px;
}

.a-family-owned-business {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    padding-top: 5%;
    padding-left: 7%;
    font-size: 14pt;
}

.ourstory-home a:hover {
    background-color: #fff;
}

/*about*/
.landing-about-button {
    font-size: 12pt;
    font-weight: 600;
    background-color: orange;
    text-decoration: none;
    color: #000;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 5%;
    border-radius: 40px;
    border: 5px solid orange;
}

/*book*/

.book-a-table-container {
    width: 100%;
    padding-bottom: 320px;
    background-image: url("../img/book-a-table-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.book-a-table-article {
    background-color: #25341D;
    border-radius: 0px 0px 20px 20px;
    color: #fff;
    margin-left: 5%;
    padding: 40px 20px 20px;
}

.book-a-table-article p {
    line-height: 30px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

}

.book-a-table-article .btn-padding {
    margin-top: 30px;
}

.book-a-table-article .btn {
    background-color: #25341D;
    border: 2px solid #FC9701;
    color: white;
}

.book-a-table-article h2 {
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    font-size: 26pt;
}

.book-a-table-article a:hover {
    background-color: orange;
}

/*instagram*/
.weareoninstagram-container {
    padding-top: 5%;
    text-align: center;
}

.weareoninstagram-container h2 {
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    font-size: 32pt;
}

.weareoninstagram-container h3 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    font-size: 18pt;
    font-weight: 200;
}

.instagram-images-container {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    overflow: hidden;
}

.instagram-image {
    width: 30vh;
}

.weareoninstagram-container img {
    width: 20px;
    margin-right: 20px;
}

.handle {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.handle img {
    align-self: center;
}

/*contact us*/
.contactus-container {
    background-color: #FFF8EF;
    margin-top: 5%;
    display: flex;
    flex-flow: column;
}

.contactus-container .left {
    background-image: url(../img/contactus-background.png);
    background-position: center;
    background-size: cover;
}

.contactus-container h2 {
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    font-size: 32pt;
    margin-bottom: 30px;
}

.contactus-container a {
    text-decoration: none;
    color: grey;
    font-weight: 400;
}

.contactus-container input[type=text] {
    width: 100%;
    padding: 16px;
    margin: 10px 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14pt;
    border: 2px solid orange;
    border-radius: 15px;
    letter-spacing: 1.4px;
}

.contactus-container textarea {
    width: 100%;
    padding: 16px;
    margin: 10px 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: 2px solid orange;
    border-radius: 15px;
    resize: none;
    letter-spacing: 1.4px;
}

.contactus-container input[type=submit] {
    font-size: 12pt;
    font-weight: 600;
    background-color: orange;
    color: #000;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 10%;
    border-radius: 40px;
    border: 2px solid orange;
    letter-spacing: 1.4px;
}

.contactus-container input:hover {
    background-color: #fff;
}

.form-container {
    padding: 40px;
    max-width: 80%;

}

/*not mobile responsive*/
/*login*/
.login-container {
    width: 100%;
    background-image: url("../img/login-image.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 60vh;
}

.login-form-container {
    width: 50%;
    padding: 2.5%;
    padding-left: 7%;
}

.login-form-container h1 {
    font-size: 36pt;
    letter-spacing: 1.4px;
}

.login-form-container a {
    text-decoration: none;
    color: grey;
    font-weight: 400;
}

.login-form-container input[type=text] {
    width: 100%;
    padding: 16px;
    margin: 10px 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.login-form {
    width: 70%;
    margin-top: 2%;
}

#useremail,
#userpassword {
    width: 85.5%;
}

.login-form-container input[type=submit] {
    padding: 12px;
    width: 91%;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.4px;
    border: 3px solid #000;
}

.login-form-container input[type=submit]:hover {
    background-color: #fff;
    color: #000;
}

/*
/*about page begins */

.ourstory {
    background-image: url("../img/about-page-image1.png");
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
}

.ourstory-article {
    width: 800px;
    height: 642px;
    background-color: #FFF8EF;
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    text-align: center;
}

.ourstory-article h1 {
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
}

.ourstory-article p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.ourvalues {
    margin-top: 10%;
    margin-left: 10%;
    width: 70%;
}

.ourvalues p {
    display: flex;
}

.micasa {
    background-image: url("../img/about-page-image2.png");
    background-repeat: no-repeat;
    height: 840px;
    width: 100%;
    margin-top: 20%;
}

.micasa-article {
    background-color: #25341D;
    color: white;
    width: 815px;
    height: 425px;
    margin-left: 5%;
    text-align: center;
}

.micasa-article h1 {
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
}

.ouradvantages {
    text-align: center;
}

.onetwothree-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 1%;
}

.advantageOne,
.advantageTwo,
.advantageThree {
    width: 25%;
    background-color: #FFF8EF;
    border-color: #E6DCCE;
    border-width: 3px;
    margin-top: 1%;
}

.advantageOne img,
.advantageTwo img,
.advantageThree img {
    margin-top: 5%;
    width: 50%;
}

.advantageOne p,
.advantageTwo p,
.advantageThree p {
    font-size: 20pt;
}

.ourteam {
    margin-top: 5%;
}

.ourteam h1 {
    margin-left: 5%;
}

.teampic-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teammemberOne,
.teammemberTwo,
.teammemberThree {
    width: 30%;
    border-width: 3px;
    margin-top: 1%;
}

.teammemberOne img,
.teammemberTwo img,
.teammemberThree img {
    width: 75%;
    margin-top: 5%;
}

/*about page ends */

.footer {
    background-color: #25341D;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

}

.footer .logo {
    text-align: center;
}

.footer nav {
    text-align: center;
}

.footer nav a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.4px;
    font-weight: 700;
}

.footer img {
    width: 300px;
}

.locations-container {
    width: 100%;
    padding-left: 5%;
    padding-right: 10%;
    margin-top: 1%;
}

.wesleychapel {
    margin-top: 2%;
}

.wesleychapel-text {
    width: 40%;
    background-color: white;
    float: left;
    margin-left: 5%;
    padding: 0.5%;
    border: 2px solid #000;
}

.wesleychapel-map {
    float: right;
    margin-right: 20%;
}

.lutz {
    padding-top: 2%;
}

.lutz-text {
    width: 40%;
    background-color: white;
    float: left;
    margin-left: 5%;
    padding: 0.5%;
    border: 2px solid #000;
    margin-top: 1%;
}

.lutz-map {
    float: right;
    margin-right: 20%;
    margin-top: 1%;
}

.templeterrace {
    padding-top: 2%;
}

.templeterrace-text {
    width: 40%;
    background-color: white;
    float: left;
    margin-left: 5%;
    padding: 0.5%;
    border: 2px solid #000;
    margin-top: 1%;
}

.templeterrace-map {
    float: right;
    margin-right: 20%;
    margin-top: 1%;
}

.carrollwood {
    padding-top: 2%;
}

.carrollwood-text {
    width: 40%;
    background-color: white;
    float: left;
    margin-left: 5%;
    padding: 0.5%;
    border: 2px solid #000;
    margin-top: 1%;
}

.carrollwood-map {
    float: right;
    margin-right: 20%;
    margin-top: 1%;
}

.odessa {
    padding-top: 2%;
}

.odessa-text {
    width: 40%;
    background-color: white;
    float: left;
    margin-left: 5%;
    padding: 0.5%;
    border: 2px solid #000;
    margin-top: 1%;
}

.odessa-map {
    float: right;
    margin-right: 20%;
    margin-top: 1%;
}

.footer-locations {
    background-color: #25341D;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 70%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.footer-locations nav {
    text-align: center;
}

.footer-locations nav a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.4px;
    font-weight: 700;
}

.footer-locations img {
    width: 15%;
    margin-left: 75%;
}

.create-account-container {
    width: 100%;
    background-image: url("../img/create-account-image.png");
    background-repeat: no-repeat;
    background-position: right;
}

.create-account-form-container {
    width: 50%;
    padding: 2.5%;
    padding-left: 7%;
}

.create-account-form-container h1 {
    font-size: 36pt;
    letter-spacing: 1.4px;
}

.create-account-form-container a {
    text-decoration: none;
    color: grey;
    font-weight: 400;
}

.create-account-form-container input[type=text] {
    width: 100%;
    padding: 16px;
    margin: 10px 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.create-account-form {
    width: 70%;
    margin-top: 2%;
}

#firstname {
    width: 40%;
}

#lastname {
    width: 40%;
}

#email,
#phone,
#password {
    width: 86%;
}

.create-account-form-container input[type=submit] {
    padding: 12px;
    width: 91%;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.4px;
    border: 3px solid #000;
}

.create-account-form-container input[type=submit]:hover {
    background-color: #fff;
    color: #000;
}

/************************Cart page**************/
.cart-container {
    width: 100%;
    max-width: 500px;
    position: fixed;
    right: 0px;
    background-color: white;
    padding: 20px 30px;
    border: 1px solid #707070;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.cart-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #898989;
    padding-bottom: 20px;

}

.cart-title img {
    width: 20px;
    align-self: center;
}

.cart-item {
    display: flex;
    margin-top: 30px;
}

.cart-item img {
    width: 40%;
    max-width:  130px;
    align-self: center;
    margin-right: 30px;
}

.info-container {
    width: 100%;
}

.info-desc {
    display: flex;
    justify-content: space-between;
    
}

.counter {
    display: flex;
    margin: 10px 0px 10px;
}

.counter button {
    padding: 5px 5px;
    background-color: white;
    border: 1px solid grey;
}

.counter p {
    padding: 5px 15px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.cart-title h2 {
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    font-size: 20pt;
    font-weight: 100;
}
.cart-top h3 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    font-size: 10pt;
    font-weight: 500;
}
.cart-item a {
    text-decoration: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    color: #898989;
}
.bottom{
    border-top: 1px solid #898989;
    padding-top: 30px;
}
.bottom .total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.bottom .btn-padding {
    display: flex;
}
.bottom .btn{
    width: 100%;
}
/************************Order page**************/
.order-container .tabs button{
    border: none;
    background-color: white;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}
.order-container h2 {
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    font-size: 32pt;
    margin-bottom: 30px;
}
.order-container .tabs{
    margin-bottom: 30px;
}
.food-item{
    margin-bottom: 20px;
}
.food-item img{
    margin-bottom: 30px;
    width: 100%;
    max-width: 300px;
}
.food-container {
    display: flex;
    justify-content: space-between;
flex-flow: wrap;    
}
.food-item-desc {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.order-container .btn-padding{
    display: flex;
}
.order-container .btn{
 width: 100%;
}
/*********************************CHRIS ADD CSS HERE******************/
.book-container{
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourteen-and-less{
    width: 50%;
    height: 70vh;
    background-image: url("../img/fourteen-and-less.png");
    background-repeat: no-repeat;
}

.groups-and-events{
    width: 50%;
    height: 70vh;
    background-image: url("../img/groups-and-events.png");
    background-repeat: no-repeat;
}

.fourteen-and-less a{
    font-size: 12pt;
    font-weight: 600;
    background-color: orange;
    text-decoration: none;
    color: #000;
    width: 30%;
    border-radius: 40px;
    border: 5px solid orange;
    display: block;
    margin-top: 50%;
    margin-left: 27%;
    padding: 1%;
    text-align: center;
}

.groups-and-events a{
    font-size: 12pt;
    font-weight: 600;
    background-color: orange;
    text-decoration: none;
    color: #000;
    width: 30%;
    border-radius: 40px;
    border: 5px solid orange;
    display: block;
    margin-top: 50%;
    margin-left: 27%;
    padding: 1%;
    text-align: center;
}

.fourteen-and-less a:hover{
    background-color: #fff;
}

.groups-and-events a:hover{
    background-color: #fff;
}

.checkout-form-container{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 30%;
    margin-left: 6%;
}

.checkout-form-container h2{
    padding-bottom: 10%;
    font-size: 36pt;
}

.checkout-contact-information{
    font-weight: 600;
}

.checkout-form-container a{
    text-decoration: none;
    color: grey;
    padding-bottom: 5%;
    display: block;
}

.checkout-form-container input{
    width: 70%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 2%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 12pt;
}

.delivery-method-container{
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.pickup-free-delivery-button{
    width: 40%;
    height: 17vh;
    background-image: url("../img/pickup-free-delivery-button.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
}

#free-delivery{
    margin-top: 37.5%;
    margin-left: 13.5%;
    height: 2.4vh;
}

.home-delivery-button{
    width: 40%;
    height: 17vh;
    background-image: url("../img/home-delivery-button.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-left: 10.5%;
}

#home-delivery{
    margin-top: 37.5%;
    margin-left: 13.5%;
    height: 2.4vh;
}

.delivery-address-information{
    font-weight: 600;
    display: block;
    padding-top: 5%;
}

#checkout-firstandlast{
    margin-top: 3%;
}

#checkout-country{
    margin-bottom: 5%;
}

.payment-method-information{
    font-weight: 600;
    display: block;
    padding-top: 7%;
}

#checkout-expirydate, #checkout-securitycode{
    width: 22%;
}

.expirydate-securitycode-container{
    width: 100%;
    display: flex;
    gap: 5%;
}

#billing-same-as-delivery{
    margin-top: 5%;
    width: 10%;
}

.order-placed{
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.view-order-button{
    font-size: 12pt;
    font-weight: 600;
    background-color: transparent;
    text-decoration: none;
    color: #000;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 4%;
    padding-right: 4%;
    margin-right: 2%;
    border-radius: 40px;
    border: 3px solid orange;
}

.cancel-order-button{
    font-size: 12pt;
    font-weight: 600;
    background-color: transparent;
    text-decoration: none;
    color: #000;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 4%;
    padding-right: 4%;
    margin-right: 2%;
    border-radius: 40px;
    border: 3px solid orange;
}

.order-placed-buttons-container{
    margin-top: 10%;
}

.order-placed-buttons-container a:hover{
    background-color: orange;
}

.order-placed h1{
    font-size: 36pt;
    letter-spacing: 1.4px;
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
}

.return-home-button{
    font-size: 12pt;
    font-weight: 600;
    background-color: transparent;
    text-decoration: none;
    color: #000;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 4%;
    padding-right: 4%;
    margin-right: 2%;
    border-radius: 40px;
    border: 3px solid orange;
}

.return-home-button:hover{
    background-color: orange;
}

.download-the-pdf{
    text-decoration: none;
    background: transparent;
    border: 3px solid orange;
    border-radius: 30px;
    padding: 1%;
    font-weight: 600;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    display: block;
    width: 15%;
    text-align: center;
    margin-left: 7%;
    margin-top: 1%;
}

.download-the-pdf:hover{
    background-color: orange;
}

.menu-page-container{
    width: 100%;
}

.menu-page-container h2{
    text-align: center;
    margin-top: 1%;
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
    font-size: 36pt;
    padding-top: 5%;
    padding-bottom: 5%;
}

.menu-page-container h3{
    text-align: center;
    margin-top: 1%;
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

.menu-page-container h4{
    text-align: center;
    margin-top: 1%;
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

.dishes-and-toppings-container{
    width: 60%;
    margin-left: 20%;
}

.dishes-and-toppings-container table{
    font-family: 'BobbyJones Soft-Regular', Arial, Helvetica, sans-serif;
    font-size: 18pt;
    margin-top: 2%;
}

.dishes-and-toppings-container tr{
    padding-top: 1%;
}

.dish-price{
    padding-left: 40vh;
    text-align: left;
    font-size: 24pt;
}

.dish-price-lunch{
    padding-left: 40vh;
    text-align: left;
    font-size: 18pt;
}

.topping{
    padding-left: 10vh;
}

.dish{
    text-align: left;
    padding-top: 2%;
    font-size: 24pt;
}

.soups-salads-dish-price{
    padding-left: 50vh;
}

.dishes-and-toppings-container td{
    height: 5vh;
}
/*********************************CHRIS ADD CSS HERE******************/
/*remain at bottom*/

.home-nav li a {
    color: white !important;
}

/*desktop-first styling for nav only*/
@media only screen and (max-width: 767px) {

    /*mobile nav styling starts*/
    .main-navigation {
        flex-direction: column;
        width: 100%;
        position: relative;
    }


    .main-navigation .menu-list {
        display: none;
        width: 100%;
        padding: 0px;
        line-height: 40px;
        text-align: center;
        z-index: 2;

    }

    .main-navigation ul li a {
        padding: 20px;
        transition: color 1s ease, padding 1s ease, background-color 1s ease;
    }

    .main-navigation ul li a:hover {
        color: #b1d4e0;
        padding-left: 30px;
    }

    .main-navigation .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 35px;
    }

    .homelogo {
        width: 100%;
    }

    .active {
        display: contents !important;
    }

    /*mobile nav styling ends*/
}

/*mobile-first styling*/
@media only screen and (min-width: 375px) {
.food-item{
    max-width: 50%;
    }
}
@media only screen and (min-width: 768px) {
    .header {
        background-image: url(../img/landingbackground.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 50%;
        background-color: aliceblue;
    }

    .landing-buttons-container {
        bottom: 10%;
    }

    .landing-buttons-container ul {
        display: flex;
        flex-flow: row;
        width: 70%;
        max-width: 500px;
        justify-content: space-around;
    }

    .landing-buttons-container ul li {
        width: 200px;
    }

    .ourstory-home .container {
        padding: 50px 20px;
        background-color: #FFF8EF;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .ourstory-home img {
        align-self: center;
        max-width: 40%;
    }

    .ourstory-home .left {
        width: 40%;
    }

    .ourstory-home .left .btn-padding {
        margin-bottom: 0px;
    }

    .book-a-table-article {
        width: 400px;
    }

    .contactus-container {
        flex-flow: row;
        justify-content: space-between;
    }

    .contactus-container .left {
        padding: 0px;
        width: 50%;
    }

    .form-container {
        margin-left: 60px;
    }
    

.cart-item img {
    width: 130px;
    align-self: center;
    margin-right: 30px;
}

.counter {
    margin: 30px 0px 10px;
}

.counter button {
    padding: 10px 10px;
}

.counter p {
    padding: 10px 30px;
}
.cart-title h2 {
    font-size: 20pt;
}
.cart-top h3 {
    font-size: 14pt;
}

}
